.home {
  background-image: linear-gradient(to top,#000, transparent),
    url("https://www.stanglwirt.com/media/animation/stangl-shop-stanglwirt-7-1.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
