.login {
  background-image: linear-gradient(to right, #000, transparent),
    url("https://media-cdn.tripadvisor.com/media/photo-s/1a/00/16/14/tienda-de-ropa-urbana.jpg");
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
